<%# 기획안의 3D 로컬버스 일러스트 자리. 실제 렌더 에셋 대신 CSS로 표현. %>
<div class="relative mx-auto w-64 h-40 select-none">
  <div class="absolute inset-0 rounded-3xl bg-gradient-to-b from-emerald-50 to-white"></div>
  <div class="absolute inset-x-6 bottom-6 top-7 rounded-2xl bg-emerald-500 shadow-lg">
    <div class="absolute inset-x-3 top-3 h-9 rounded-lg bg-sky-200/80 flex">
      <div class="flex-1 m-1 rounded bg-sky-300/60"></div>
      <div class="flex-1 m-1 rounded bg-sky-300/60"></div>
      <div class="flex-1 m-1 rounded bg-sky-300/60"></div>
    </div>
    <div class="absolute inset-x-0 bottom-6 h-5 bg-yellow-400"></div>
    <div class="absolute inset-x-0 bottom-3 h-3 bg-white/90"></div>
    <div class="absolute left-2 top-1.5 text-[10px] font-bold text-white">로컬버스</div>
  </div>
  <div class="absolute -bottom-1 left-12 w-7 h-7 rounded-full bg-gray-800 border-4 border-gray-300"></div>
  <div class="absolute -bottom-1 right-12 w-7 h-7 rounded-full bg-gray-800 border-4 border-gray-300"></div>
</div>
