<div class="px-6 pb-4">
  <div class="flex justify-end">
    <span class="text-[11px] text-gray-400">powered by
      <span class="font-bold text-gray-700">◀ CODE FOR KOREA</span>
    </span>
  </div>
</div>
